@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

@font-face{
    font-family: 'Source Sans 3';
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
    src: url('WOFF2/TTF/SourceSans3-ExtraLight.ttf.woff2') format('woff2'),
    url('WOFF/OTF/SourceSans3-ExtraLight.otf.woff') format('woff');
}

@font-face{
    font-family: 'Source Sans 3';
    font-weight: 200;
    font-style: italic;
    font-stretch: normal;
    src: url('WOFF2/TTF/SourceSans3-ExtraLightIt.ttf.woff2') format('woff2'),
    url('WOFF/OTF/SourceSans3-ExtraLightIt.otf.woff') format('woff');
}

@font-face{
    font-family: 'Source Sans 3';
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    src: url('WOFF2/TTF/SourceSans3-Light.ttf.woff2') format('woff2'),
    url('WOFF/OTF/SourceSans3-Light.otf.woff') format('woff');
}

@font-face{
    font-family: 'Source Sans 3';
    font-weight: 300;
    font-style: italic;
    font-stretch: normal;
    src: url('WOFF2/TTF/SourceSans3-LightIt.ttf.woff2') format('woff2'),
    url('WOFF/OTF/SourceSans3-LightIt.otf.woff') format('woff');
}

@font-face{
    font-family: 'Source Sans 3';
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    src: url('WOFF2/TTF/SourceSans3-Regular.ttf.woff2') format('woff2'),
    url('WOFF/OTF/SourceSans3-Regular.otf.woff') format('woff');
}

@font-face{
    font-family: 'Source Sans 3';
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
    src: url('WOFF2/TTF/SourceSans3-It.ttf.woff2') format('woff2'),
    url('WOFF/OTF/SourceSans3-It.otf.woff') format('woff');
}

@font-face{
    font-family: 'Source Sans 3';
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    src: url('WOFF2/TTF/SourceSans3-Semibold.ttf.woff2') format('woff2'),
    url('WOFF/OTF/SourceSans3-Semibold.otf.woff') format('woff');
}

@font-face{
    font-family: 'Source Sans 3';
    font-weight: 600;
    font-style: italic;
    font-stretch: normal;
    src: url('WOFF2/TTF/SourceSans3-SemiboldIt.ttf.woff2') format('woff2'),
    url('WOFF/OTF/SourceSans3-SemiboldIt.otf.woff') format('woff');
}

@font-face{
    font-family: 'Source Sans 3';
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    src: url('WOFF2/TTF/SourceSans3-Bold.ttf.woff2') format('woff2'),
    url('WOFF/OTF/SourceSans3-Bold.otf.woff') format('woff');
}

@font-face{
    font-family: 'Source Sans 3';
    font-weight: 700;
    font-style: italic;
    font-stretch: normal;
    src: url('WOFF2/TTF/SourceSans3-BoldIt.ttf.woff2') format('woff2'),
    url('WOFF/OTF/SourceSans3-BoldIt.otf.woff') format('woff');
}

@font-face{
    font-family: 'Source Sans 3';
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    src: url('WOFF2/TTF/SourceSans3-Black.ttf.woff2') format('woff2'),
    url('WOFF/OTF/SourceSans3-Black.otf.woff') format('woff');
}

@font-face{
    font-family: 'Source Sans 3';
    font-weight: 900;
    font-style: italic;
    font-stretch: normal;
    src: url('WOFF2/TTF/SourceSans3-BlackIt.ttf.woff2') format('woff2'),
    url('WOFF/OTF/SourceSans3-BlackIt.otf.woff') format('woff');
}

slide-fade-enter-active {
    transition: all .1s ease-in;
}
.slide-fade-leave-active {
    transition: all .1s cubic-bezier(1.0, 0.3, 0.5, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
    transform: translateX(10px);
    opacity: 0;
}

body {
    font-family: 'Source Sans 3',sans-serif;
}

.container {
    padding-bottom:  50px;
}

a {
    text-decoration: none;
    font-weight: 400;
}

a:hover {
    text-decoration: underline;
}

.btn-primary {
    background-color: #9b51e0;
    color: #fff;
    border-color: #9b51e0;
}

.btn-primary:hover {
    background-color: #9c3ff2;
    border-color: #9c3ff2;
}

.bg-light {
    background: linear-gradient(180deg, #F5F5F5 0%, rgba(245, 245, 245, 0) 100%);
}

.question {
    margin-top: 100px;
    text-align: center;
}

.question h3 {
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.question .answers {
    margin-top: 50px;
}

.answer {
    cursor: pointer;
}

.answer { transition: all .1s ease-in-out; }
.answer:hover {
    transform: scale(1.02);
    border-color: #e14329;
}

.examples {
    text-align: left;
    margin-top: 30px;
    padding-top: 30px;
}

.skip-questions {
    margin-top: 50px;
    text-align: center;
    font-size: 18px;
}

.definitions {
    margin-top: 50px;
}

.bounty {
    margin-top: 50px;
    margin-bottom: 50px;
}

.score-card {
    cursor: help;
}


.color-modes .dropdown-menu {
    padding: 0.25rem;
}

.color-modes .dropdown-menu li + li {
    margin-top: 0.125rem;
}

.color-modes .dropdown-item {
    border-radius: 0.25rem;
}

.color-modes .active {
    font-weight: 600;
}

.color-modes .active .bi {
    display: block !important;
}

.icon-list {
    padding-left: 0;
    list-style: none;
}

.icon-list li {
    display: flex;
    align-items: flex-start;
    margin-bottom: 0.25rem;
}

.icon-list li::before {
    display: block;
    flex-shrink: 0;
    width: 1.5em;
    height: 1.5em;
    margin-right: 0.5rem;
    content: "";
}
